
.card--lg {
    position: absolute;
    left: 85px;
    width: 66%;
}

.image-card {
    opacity: 0.7;
    filter: drop-shadow(8px 8px 10px grey);
    cursor: pointer;
}    

.image-card:hover {
    opacity: 1;
    filter: none;
} 