div.scroll {
    width: 100px;
    height: 100px;
    overflow: scroll;
}


h2 {
    font-family: Verdana, Arial, Sans-serif;
    font-style: oblique;
    font-size: 23px;
}

p {
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 17px;
}